.app-header {
    button {
        margin: 0 12px;
    }

    .spacer {
        flex: 1 1 auto;
    }

    .mat-toolbar {
        background: rgb(0, 0, 0);
        padding: 0 16px; // Valor padrão para telas menores
    }

    .mat-toolbar .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed {
        color: white;
    }


    @media (min-width: 600px) {
        .mat-toolbar {
            padding: 0 64px;
        }
    }

    @media (min-width: 960px) {
        .mat-toolbar {
            padding: 0 120px;
        }
    }

    @media (min-width: 1280px) {
        .mat-toolbar {
            padding: 0 200px;
        }
    }
}
